.breadcrumb_style {
    background-image: url(/img/nav_background_1.png);
    /* navbar多厚 就推多少paddding */
 
}

.breadcrumb_style_1 {
    padding: 20px 0;
    align-items: center;
    margin: auto;
}

.astlyep {
    font-size: 14px;
    letter-spacing: 2px;
    color: #707070;
    list-style-type: none;
    text-decoration: none;

}

.breadcrumb_style_1 img {
    height: 10px;
    width: 10px;
    margin: 0 10px;
}

/* 桌機用 */
@media (min-width:1400px) {
   
    .breadcrumb_style_1 {
        width: 80%;
    }
}

/* 手機用 */
@media (max-width:1399px) {

    .breadcrumb_style_1 {
        /* 手機板寬 自行設定 */
        width: 85%;
    }
}