
/* h2 {
    font-size: 35px;
    font-weight: bold;
}

h3 {
    font-size: 32px;
    font-weight: normal;
}

h4 {
    font-size: 24px;
    font-weight: normal;
}

p {
    字級可自訂
    font-size: 20px;
    font-weight: normal;
} */



nav {
    width: 100%;

    /* position: fixed; */
    top: 0;
    z-index: 99;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navline {
    width: 80%;
    height: 1px;
    background-color: #c0c0c0;
    margin: 0 auto;
}

nav img {
    height: 80%;
}

.btns {
    margin: 300px;
}

button {
    padding: 12px 18px;
    background-color: #cc543a;
    color: white;
    border-radius: 30px;
    border: none;
    font-family: 'Sitka Display', NSimSun, 'sans-serif';

}

button:focus {
    outline: 0;
    box-shadow: 0 0 0 1pt rgb(77, 77, 77);
}

.ham i {
    padding: 0 8px;
}

footer {
    
    height: 70px;
    background-color: #cc543a;
    color: white;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1400px) {

    .navbar {
        height: 100px;
        padding: 0 5%;
    }

    .navbar ul {
        width: 80%;
        display: flex;
        justify-content: space-between;
        padding-top: 1%;
    }

    .navbar li {
        letter-spacing: 3px;
        font-size: 16px;
    }

    .navbar .ham {
        display: none;
    }
}



@media screen and (max-width: 1400px) {
    .navbar {
        height: 80px;
        padding: 10px;
        align-items: center;
    }

    .navbar ul {
        display: none;
    }

    .navbar .fa-bars {
        color: #4b4b4b;
        font-size: 30px;
    }
}